@viewport {
    width: device-width;
    zoom: 1.0;
}
html, body {
    margin: 0;
    height: 100%;
} 
body {
    background-image: linear-gradient(180deg, rgb(209, 243, 252) 50%, white 50%);
    background-repeat: no-repeat;
}
p{
    text-align: center;
    color: rgb(222, 248, 248);
}
h3{
    text-align: center;
    color: rgba(247, 238, 238, 0.979);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}
button{
  background-color: white;
  border-radius: 26px;
  width: 80%;
  padding: 12px;
  color: blue;
  align-content: center;
}
.btn{
    text-align: center;
    margin-top: 90px;
    padding: 45px;
}
.tint {
    text-align: center;
    margin:90px;
    padding: 40px;
    color: aliceblue;
}
.container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRnrhHamOT14vgaTRm8-fXbnazV5u5MnudPOQXTAxtOqof7cPqd);
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 4%;
    margin-left: auto; 
    margin-right: auto; 
    width:400px; 
}
